<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopondoor">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopOnDoor">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDb8NRMGe547lhFecu3qW5aIH7GxBvl9h0"/>

        <activity
            android:name=".activities.OrderPlacedActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.CatagoryDetailActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.DetailActivity"
            android:parentActivityName=".activities.ViewAllActivity" />
        <activity
            android:name=".activities.ViewAllActivity"
            android:label="@string/title_activity_view_all"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.ShopOnDoor.NoActionBar" />
        <activity android:name=".activities.LogInActivity" />
        <activity android:name=".activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignUpActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ShopOnDoor.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>